.jumbotron {
  padding-top: 2rem;
  background-color: #e3f2fd;
}
.about {
  padding-top: 2rem;
}
.card-group {
  padding-top: 2rem;
}

.display-6 {
  padding-top: 2rem;
  padding-left: 5rem;
}

.row {
  background-color: #e3f2fd;
}

.col-12 {
  padding-left: 5rem;
}

.input-group {
  padding-left: 5rem;
}

.input-group {
  padding-left: 5rem;
}
